# Systemd Unit file that executes the reporter.sh file and sends the results to the systemd journal.

[Unit]
Description=My Reporter Service (User-Level)
After=network.target

[Service]
ExecStart=%h/linux-troubleshooting-scripts/scripts/reporter.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
